name: Testing integration

on: [check_run, check_suite, create, delete, deployment, deployment_status, fork, gollum, issue_comment, issues, label, milestone, page_build, project, project_card, project_column, public, pull_request, pull_request_review, pull_request_review_comment, pull_request_target, push, registry_package, release, status, watch]

jobs:
  test:
    runs-on: ubuntu-16.04
        
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: ./
        with:
          event: ${{ toJson(github.event) }}
      
